<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=""><img src="../../assets/download.png" width="30px" height="30px" class="d-inline-block align-top">Employee Management System</a>
    
</nav>
 <div class="col-md-4 offset-md-2"> 
     <h2>Login here</h2>
    <form >
   
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="username"
             name="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password"
             name="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-success" type="submit"(click)="doLogin()">Submit</button>
        
    </form>

 </div>


 <footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 @Arnetta</span>
  </div>

</footer>