<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href=""><img src="../../assets/download.png" width="30px" height="30px" class="d-inline-block align-top">Employee Management System</a>
  </nav>


<h2>Employee-List</h2>
<table class="table table striped">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstname}}</td>
            <td>{{employee.lastname}}</td>
            <td>{{employee.emailid}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>      
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                
            </td>
            </tr>
            </tbody>
</table>

<footer class="footer">
    <div class="container">
      <span>All Rights Reserved 2020 @Arnetta</span>
    </div>
  
  </footer>