<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href=""><img src="../../assets/download.png" width="30px" height="30px" class="d-inline-block align-top">Employee Management System</a>
  </nav>

<div class="col-md-6 offset-md-3">
    <h2>Employee Registration</h2>
    <form (ngSubmit)="ngSubmit()">
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" class="form-control" id="firstname"
        [(ngModel)]="employees.firstname" name="firstname">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input type="text" class="form-control" id="lastname"
        [(ngModel)]="employees.lastname" name="lastname">
    </div>
    <div class="form-group">
        <label>Email ID</label>
        <input type="text" class="form-control" id="firstname"
        [(ngModel)]="employees.emailid" name="emailid">
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
    <footer class="footer">
        <div class="container">
          <span>All Rights Reserved 2020 @Arnetta</span>
        </div>
      
      </footer>